#header:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  display: block;
  background-color: $blue;
  left: 0;
  opacity: .15;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

}
#header {
  header > p {
    text-transform: uppercase;
    font-family: 'Capriola', sans-serif;
    width: 60%;
    margin: 3em auto 0;
    text-shadow: 0 0 1px black;
    letter-spacing: .125em;
    font-size: 1.5em;
    font-weight: bold;
  }
}

#nav ul {
  text-align: right;
  font-size: 20px;
  @include justify-content(flex-end);
  @include flexbox;
    li {
      &:first-child {
        margin-right: auto;
        padding-left: 1em;
        font-size: 1.5em;
        font-weight: 700;
      }
    display: inline-block;
    font-variant: all-small-caps;
    text-transform: uppercase;
    padding-right: 1em;
    font-size: 1.125em;
  }
}

a.custom-logo-link {
  img {
    width: 14em;
    height: 14em;
  }
}

@media screen and (max-width: 600px) {
  body.homepage #header {
    font-size: 11pt;
  }
}

 @media screen and (max-width: 400px) {
   body.homepage #header {
     font-size: 8pt;
   }
 }
